
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    font-family: "Righteous";
}
body{
    background: url("../miscs/medieval\ armour\ 1\ \(1\).png");
    background-size: cover;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    backdrop-filter: blur(20px);
    color: white;
    text-align: center;
    font-size: 1.5em;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

button{
    width: 100px;
}

h1{
    font-size: 20px;
}

h3{
    font-size: 70px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    position: relative;
    padding: 10%;
}

.pont{
    position: absolute;
    color: white;
    top: 5px;
    left: 5px;
}

.cont{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.accont{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(20px);
    color: white;
    text-align: center;
    font-size: 1.5em;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 15px;
}

.bg{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    backdrop-filter: blur(20px);
    color: rgba(212, 148, 9, 0.815);
    text-align: center;
    font-size: 1.5em;
    border: 1px solid rgba(80, 57, 7);
    border-radius: 20px;
    padding: 15px;
}

.mc{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    color: rgb(9, 240, 29);
    text-align: center;
    font-size: 1.5em;
    border: 1px solid rgba(11, 141, 7, 0.904);
    border-radius: 20px;
    padding: 15px;
}

.enemy{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    color: rgb(238, 7, 7);
    text-align: center;
    font-size: 1.5em;
    border: 1px solid rgba(160, 4, 4, 0.753);
    border-radius: 20px;
    padding: 15px;
}

